{% extends "index.html" %}

{% block maintitle %}

    Login
        
{% endblock %}

{% block title %}

    <!-- add title -->
    Login your self here!
        
{% endblock %}

{% block body %}

    <!-- add body -->
    <form action="#" method="POST" id="login-form" class="m-3">
        <div class="fw-bold top-0">{{msg}}</div>
        <div class="row mb-3 ">
            <label for="input3" class="col-sm-2 col-form-label fw-bold">Username</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="input3" name="username" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label fw-bold">Password</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" name="password" required>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn" style="background-color:rgb(192, 103, 87);">Login</button>
        </div>
        <div>
            <span>Don't have an account?</span>
            <a href="/register">Register</a>
        </div>
    </form>
    <a href="/" class="btn text-dark fw-bold mb-3 position-absolute top-0 start-0">-> back</a> 

{% endblock %}
    
